[submodule "tcp-ask"]
	path = tcp-ask
	url = git@gits-15.sys.kth.se:IK1203VT25/adambro-TCPAsk.git
[submodule "tcp-ask-connections"]
	path = tcp-ask-connections
	url = git@gits-15.sys.kth.se:IK1203VT25/adambro-TCPAskConnections.git
[submodule "http-ask-server"]
	path = http-ask-server
	url = git@gits-15.sys.kth.se:IK1203VT25/adambro-HTTPAskServer.git
[submodule "concurrent-http-ask-server"]
	path = concurrent-http-ask-server
	url = git@gits-15.sys.kth.se:IK1203VT25/adambro-ConcurrentHTTPAskServer.git
